@model Banha_UniverCity.Models.Department


<form id="deptForm" asp-action="UpSert" enctype="multipart/form-data">
    <div class="modal-header">
        @if (Model.DepartmentID == 0)
        {
            <h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
        }
            
        else
        {
            <h5 class="modal-title" id="exampleModalLabel">Edit @Model.DepartmentName Category</h5>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            <input asp-for="DepartmentID" type="hidden" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="DepartmentName" class="control-label"></label>
            <input asp-for="DepartmentName" class="form-control" />
            <span asp-validation-for="DepartmentName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DepartmentDescription" class="control-label">Description</label>
            <input asp-for="DepartmentDescription" class="form-control" />
            <span asp-validation-for="DepartmentDescription" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cover" class="control-label">Cover</label>
            <input type="file" asp-for="Cover" class="form-control" />
            <span asp-validation-for="Cover" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        @if (Model.DepartmentID == 0)
        {
            <button type="button" onclick="allConfirm('deptForm')" class="btn btn-primary">Create</button>
        }
        else
        {

            <button type="button" onclick="allConfirm('deptForm')" class="btn btn-primary">Save Changes</button>
        }
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>


<style>
    .form-group input {
        background-color:#303030;
        color:lightgray;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
