@model IEnumerable<Course>

@{
    ViewData["Title"] = "My Courses";
}

<div class="container mt-5">
    <div class="courses-header d-flex align-items-center justify-content-between">

        <h1 class="mb-4">My Courses</h1>
        <a asp-action="Upsert" class="btn btn-dark">New Course</a>
    </div>

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Students Enrolled</th>
                    <th>Process</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.CourseName</td>

                        <td class="text-center">@course.Enrollments.Count</td >
                        <td> <a onclick="openCourseCurriculum(@course.CourseID)" class="btn btn-outline-info">View</a></td>
                        <td>
                            <a class="btn btn-dark" onclick="openAddToCourse(@course.CourseID,'addModal')">Add-Process</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            You have no courses.
        </div>
    }
</div>
<div class="modal fade " id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="curriculumModal" tabindex="-1" aria-labelledby="curriculumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="curriculumModalLabel">Course Curriculum</h5>
                <button type="button" class="btn btn-close text-black" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body bg-black">
                <!-- Content will be loaded via AJAX -->
            </div>
        </div>
    </div>
</div>



